body{
	background: black; 
}
#mycanvas{
	height:500px;
	width:800px;
	display:block;
	margin:100px auto 0px;
	background:#F50AD9;
	border-radius:5px;
	moz-border-radius:5px;
	webkit-border-radius:5px;
}
#textField{
	height: 90px;
	width:300px;
	border-color: green;
	border-radius:5px;
	moz-border-radius:5px;
	webkit-border-radius:5px;
	position:absolute;
	top:305px;
	left:30px;
}